/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts2/icomoon.eot?jy8ihy");
  src: url("fonts2/icomoon.eot?jy8ihy#iefix") format("embedded-opentype"), url("fonts2/icomoon.ttf?jy8ihy") format("truetype"), url("fonts2/icomoon.woff?jy8ihy") format("woff"), url("fonts2/icomoon.svg?jy8ihy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?bx3ctr");
  src: url("fonts/icomoon.eot?bx3ctr#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?bx3ctr") format("truetype"), url("fonts/icomoon.woff?bx3ctr") format("woff"), url("fonts/icomoon.svg?bx3ctr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-glass:before {
  content: "\f000";
}

.icon-arrow-up-right2:before {
  content: "\ea3b";
}

.icon-arrow-down-right2:before {
  content: "\ea3d";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}

.icon-arrow-down-left2:before {
  content: "\ea3f";
}

.tab {
  display: inline-block;
  float: right;
  padding: 5px 10px 5px 10px;
  background: #f1a74c;
  color: #FFFFFF;
  margin: 70px 5px 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
}

.tab a:hover:not(.active) {
  background-color: #ddd;
}

.cli {
  width: 150px;
  height: 150px;
}

.font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-align: center;
  border: 10px solid #d4caca;
  padding: 0.5em;
  margin: 2em;
  background-color: #f7dab5;
}

.button {
  color: white;
  background-color: darkgray;
  font-size: 20px;
  font-style: oblique;
}

.col {
  background-color: peachpuff;
  margin: 1em;
}

.omar {
  border: 10px solid #d4caca;
  padding: 1em;
  margin: 5em;
  text-align: justify;
}

img {
  width: 300px;
  height: 300px;
}

body {
  width: 90%;
  margin: 0 auto;
  background-color: gray;
  border: 1px dashed gray;
  font-family: monospace;
  background-image: -webkit-gradient(linear, left top, left bottom, from(antiquewhite), to(#f1a74c));
  background-image: linear-gradient(antiquewhite, #f1a74c);
  padding: 1em;
  /*
.ta{
  display: inline-block;
  float: right;
 
}
*/
}

body .cli_1 {
  width: 600px;
  height: 600px;
}

body .de {
  width: 320px;
  height: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  background-color: antiquewhite;
  /*  position: relative; */
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  text-align: center;
  overflow: hidden;
}

body .href {
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  position: relative;
  left: -130px;
  top: 190px;
}

body .hre {
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 3s;
          animation-iteration-count: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  position: relative;
  text-align: center;
  top: 210px;
  right: 5px;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  background: silver;
}

body .hre .my {
  width: 50px;
  height: 30px;
}

@-webkit-keyframes example {
  from {
    left: -130px;
  }
  to {
    left: 430px;
  }
}

@keyframes example {
  from {
    left: -130px;
  }
  to {
    left: 430px;
  }
}

body .fon {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body a {
  text-decoration: none;
  color: white;
}

body .imge {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
}

body .smedia {
  position: fixed;
  top: 150px;
  right: 10px;
}

body .smediaButton {
  width: 40px;
  height: 40px;
  border-radius: 0%;
  margin: 5px 0 9px 0;
}

body .imge img {
  border: 1px dashed #d8c46c;
  padding: 5px;
}

body .cla {
  text-decoration: none;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr;
      grid-template-columns: 5fr 2fr;
}

@media screen and (min-width: 800px) {
  .vcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .vcard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=main.css.map */